@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Tittle = "Kategoriler";
}
<div class="RightColumn">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <div class="col-md-12 Makaleler">
                    <div class="row">
                        <img src="/images/Image20230312114053.jpg" width="100%" />
                        <div class="KategoriBaslik">Teknoloji</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>