@{
    Layout = "/Areas/admin/Views/_Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Makale Yönetimi";
}
<div class="col-md-12" style="margin-top:25px;">
    <div class="row">
        <a href="/admin/Makale/Insert" class="btn btn-primary" style="margin-top:15px;margin-bottom:15px;">Yeni Ekle </a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Blog</td>
                    <td>İşlemler</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                    <td>@item.id</td>
                    <td>@item.BlogName</td>
                    <td>
                        <a href="/admin/Makale/Update/@item.id" class="btn btn-primary">Düzenle</a>
                            <a href="/admin/Makale/Delete/@item.id" class="btn btn-danger">sİL</a>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>