@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Tittle = "Projelerim";
}

<div class="RightColumn">
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-4">
                <div class="col-md-12 ProjeDiv">
                    <div class="row">
                        <img src="/images/Image20230312114053.jpg" width="100%" />
                        <a href="#" class="ProjeLink">Araç Takip Otomasyonu</a>
                        <div class="ProjeArkaPlan"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-12 ProjeDiv">
                    <div class="row">
                        <img src="/images/Image20230312114111.jpg" width="100%" />
                        <a href="#" class="ProjeLink">E-Ticaret Yazılımı</a>
                        <div class="ProjeArkaPlan"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
